# SQL exercises

PostgresSQL excercises from https://pgexercises.com/questions/basic/

![sql-exercise-schema](img/sql-exercise-schema.png)

- [Basic](#Basic)
- [Join](#Join)

## Basic

How can you produce a list of facilities, with each labelled as 'cheap' or 'expensive' depending on if their monthly maintenance cost is more than $100? Return the name and monthly maintenance of the facilities in question.

     
     SELECT name,
        CASE WHEN monthlymaintenance > 100 THEN 
            'expensive'
        ELSE 
            'cheap'
        END AS 
            cost

        FROM cd.facilities

How can you produce a list of members who joined after the start of September 2012? Return the memid, surname, firstname, and joindate of the members in question.


    SELECT memid, surname, firstname, joindate
        FROM cd.members
        WHERE joindate >= '2012-09-01'

## Join

### You'd like to get the first and last name of the last member(s) who signed up - not just the date. How can you do that?


    SELECT firstname, surname, joindate
        FROM cd.members
        WHERE joindate = (SELECT MAX(joindate) FROM cd.members)


Notes: Why this would not work

    SELECT firstname, surname, MAX(joindate)
        FROM cd.members

MAX(joindate) - returns a single value when firstname and surname would return a list of all the name values, hence it was confused when asked to concate these three items together


In the correct query, we have created one single row from the subquery and compare this row to all the rows in the joindate column.


Other approach:


     SELECT firstname, surname, joindate
       FROM cd.members
       ORDER BY joindate DESC
       LIMIT 1

#### Get the day of the month from a timestamp
Get the day of the month from the timestamp '2012-08-31' as an integer.

SELECT EXTRACT (DAY FROM starttime)

FROM cd.bookings 

WHERE starttime::date = '2012-08-31'

LIMIT 1

#### Work out the start times of bookings for tennis courts
How can you produce a list of the start times for bookings for tennis courts, for the date '2012-09-21'? Return a list of start time and facility name pairings, ordered by the time.

SELECT book.starttime as start, fac.name as name
FROM cd.facilities as fac

FULL OUTER JOIN cd.bookings as book
ON fac.facid = book.facid

WHERE book.starttime::DATE = '2012-09-21' AND (fac.name ~ '^Tennis')

ORDER BY book.starttime

#### List the total slots booked per facility per month
Produce a list of the total number of slots booked per facility per month in the year of 2012. Produce an output table consisting of facility id and slots, sorted by the id and month.

SELECT facid, EXTRACT (MONTH FROM starttime) as month, SUM(slots) as "Total Slots"

FROM cd.bookings 

WHERE EXTRACT (YEAR FROM starttime) = '2012'

GROUP BY facid, month

ORDER BY facid, month