# Python practices

From different sources of coding challenges and CodeWar practices

Questions are rephrased

In [30]:
import pandas as pd
import json
import datetime
import re

### Problem 1:

Takes in a list of restaurants location, type of cuisine, and the number of restaurants. The idea is to return an array or a list for each location with the format of:

[# of American, # of Mexican, # of Seafood]

#### Input

In [2]:
sample = [["Boston","Mexican","163"],
["Boston","Seafood","194"],
["Los Angeles","American","1239"],
["Los Angeles","Mexican","1389"],
["Los Angeles","Seafood","456"]]

#### Output

Explaination: For Boston, there's [0 American cuisine, 163 Mexican, 194 Seafood]

Then there's another list for Los Angeles

In [74]:
[[0, 163, 194], [1239, 1389, 456]]

[[0, 163, 194], [1239, 1389, 456]]

In [4]:
def pivot_table(inputTable):
    
    final = []
    
    df = pd.DataFrame(inputTable, columns=['city','type','amt'])
    df['amt'] = pd.to_numeric(df['amt'])
    
    new_df = df.pivot(index='city', columns='type', values='amt')
    new_df = new_df.fillna(0)
    new_df = new_df.astype('int64', copy=False)
    
    for row in range(new_df.shape[0]):
        array = new_df.iloc[[row]].values.tolist()
        final.extend(array)

    return final

In [5]:
pivot_table(sample)

[[0, 163, 194], [1239, 1389, 456]]

### Problem 2

In [10]:
businesses = pd.read_json("sample.json")
print(businesses)

                                                   0
0  {"hours":\n  {"tuesday": [["11:30", "23:00"]],...
1  {"hours":\n    {"tuesday": [["11:30", "23:00"]...

In [14]:
for item in businesses:
    print(item)

0

In [12]:
def json_parsing(businesses):
    business_count = 0
    
    business_list = []
    
    for item in businesses:
        json_string = json.loads(businesses)
        business_list.append(json_string)
    
    #aa = business_list["name"]
        
    print(business_list)

In [66]:
#json_parsing(businesses)

# Datetime

Some Datetime practices from Codewars

### Q: Find the amount of minutes till midnight

In [68]:
def minutes_to_midnight(d):
    '''returning the number of minutes until midnight'''
    
    midnight = d.replace(day = d.day + 1, hour=0, minute=0, second=0)
    time_elapse = midnight - d
    mins, secs = divmod(time_elapse.total_seconds(), 60)
    
    if secs >= 30:
        mins = mins + 1
    
    return "{} minutes".format(int(mins))

In [73]:
today = datetime.datetime.now()

#"37 minutes"
d = datetime.datetime(today.year, today.month, today.day, 23, 22, 31)
minutes_to_midnight(d) 
# "705 minutes"
d = datetime.datetime(today.year, today.month, today.day, 12, 15, 29)
minutes_to_midnight(d)

'705 minutes'

## Q: How many days till the event?

In [181]:
def count_days(d):
  
    now = datetime.datetime.now()
    now = now.replace(hour=0, minute=0, second=0)
    time_elapse = d - now
    
    diff_days = time_elapse.total_seconds()/60/60/24  
    
    if time_elapse.days < 0:
        return 'The day is in the past!'
        
    elif time_elapse.days == 0:
        return "Today is the day!"
        
    else:
         return "{} days".format(round(diff_days))

In [184]:
a = datetime.datetime(2018,1,12, 9, 42)
b = datetime.datetime(2018,12,16, 8, 0)
c = datetime.datetime(2019,1,12, 15, 6)

In [185]:
count_days(a), count_days(b), count_days(c)

('The day is in the past!', 'Today is the day!', '28 days')

## Regular expressions

In [5]:
#^	Starts with	"^hello"
#$	Ends with	"world$"	
#*	Zero or more occurrences	"aix*"	
#+	One or more occurrences	"aix+"

In [6]:
#Check if the string starts with "The" and ends with "Spain":

txt = "The rain in Spain"
x = re.search("^The.*Spain$", txt)

if (x):
  print("YES! We have a match!")
else:
  print("No match")

YES! We have a match!

# String manipulation with pandas

## Check whether a string is panlindrome or not.
A palindrome is a string which is same read forward or backwards.

In [6]:
def panlindrome(sample_string):
    
    middle = int(len(sample_string)/2)
    
    if sample_string[:middle] == sample_string[:middle:-1]:
    
        print("yes")
        
    else:
        print("no")

In [11]:
sample1 = "hello"
sample2 = "abcdefedcba"
panlindrome(sample1)
panlindrome(sample2)

no
yes

Anagram

In [25]:
def is_anagram(string1, string2):
    
    
    list_string1 = list(string1)
    list_string1 = sorted(list_string1)
    
    list_string2 = list(string2)
    list_string2 = sorted(list_string2)

    
    if list_string1 == list_string2:
        print("yes, is anagram")
        
    else:
        print("no")

In [26]:
is_anagram("stressed", "desserts")

yes, is anagram

In [31]:
dollars = pd.Series(['12', '-$10', '$10,000'])

In [32]:
# changing "-$" to "$"
# \ backslash is an escaping character
dollars.str.replace(r'-\$', '-')

0         12
1        -10
2    $10,000
dtype: object

In [38]:
dollars.str

***

# Codewar challenges

## Which are in

In [134]:
def in_array(array1, array2):
    
    final = set()
    
    for sub_string in array1:
        for string in array2:
            if sub_string in string:
                final.add(sub_string)
    
    final = sorted(final)
    
    return final

In [135]:
# add sub to list if its in any of the string in a2
def in_array2(a1, a2):
    return sorted({sub for sub in a1 if any(sub in s for s in a2)})

In [136]:
a1 = ["live", "arp", "strong"] 
a2 = ["lively", "alive", "harp", "sharp", "armstrong"]
#r = ['arp', 'live', 'strong']
#a1 = ["tarp", "mice", "bull"]
#a2 = ["lively", "alive", "harp", "sharp", "armstrong"]

In [137]:
in_array(a1, a2), r

(['arp', 'live', 'strong'], ['arp', 'live', 'strong'])

## Make the dead fish swim

In [138]:
def parse(data):

    final = []
    number = 0
    
    command = list(data)
    
    for item in command:
        if item == 'i':
            number += 1
        elif item == 's':
            number = number ** 2
        elif item == 'd':
            number -= 1
        elif item == 'o':
            final.append(number)        
        else:
            pass
    return final

In [139]:
parse("isoisoiso"), [1,4,25]

([1, 4, 25], [1, 4, 25])

## Count the smiley faces

In [140]:
def count_smileys(arr):

    smile = 0
    
    for item in arr:
    
        item_list = list(item)
        count = 0
        
        if item_list[0] in [":", ";"]:
                count += 1
    
        if item_list[-1] in [")", "D"]:
                count += 1
            
        if len(item_list) > 2 and (count == 2):
        
            if item_list[1] in ["-","~"]:
                smile += 1
        elif len(item_list) == 2 and (count == 2):
            smile += 1
        else:
            pass
            
        
    return smile

In [141]:
count_smileys([';D', ':-(', ';o(', ';-D', ':(', ':oD', ':D', ':D', ';(', ';D', ':D', ':D', ':o(', ':D'])

8