# Python practices

**In progress....**

***

**Content**:

1. [Basic Python](#Basic-Python)
2. [Advance Python](#Advance-Python)
3. [Pandas](#Pandas)
4. [Leetcode](#Leetcode)
5. [Codewar challenges](#Codewar-challenges)

In [2]:
import pandas as pd
import numpy as np
import json
import datetime
import re

# Basic Python

***

# Advance Python

## Map/ Filter/ Reduce

### Map

In [2]:
number_list = list(range(-5,5))

In [3]:
number_list

[-5, -4, -3, -2, -1, 0, 1, 2, 3, 4]

In [4]:
list(map(lambda x: x**2, number_list))

[25, 16, 9, 4, 1, 0, 1, 4, 9, 16]

### Filter

In [5]:
list(filter(lambda x: x**2 > 20, number_list))

[-5]

***

# Pandas

### Create dataframe ( np array)

In [6]:
arr = np.array(number_list)

In [8]:
arr = arr.reshape(1,10)

In [9]:
df = pd.DataFrame(arr)

In [10]:
df

   0  1  2  3  4  5  6  7  8  9
0 -5 -4 -3 -2 -1  0  1  2  3  4

In [11]:
s1 = pd.Series(['a', 'b'])
s2 = pd.Series(['c', 'd'])
#  axis = 0 (default) -> concat by row
pd.concat([s1, s2])

0    a
1    b
0    c
1    d
dtype: object

In [12]:
#  axis = 1 -> concat by column
pd.concat([s1, s2], axis = 1)

   0  1
0  a  c
1  b  d

### Create dataframe (list)

In [13]:
list_1 = ['a', 'b', 'c', 'd', 'e', 'f', 'g']
list_2 = ['A', 'B', 'C', 'D', 'E', 'F', 'G']

In [14]:
df2 = pd.DataFrame({'lowercase': list_1, 'uppercase': list_2})

In [15]:
df2

  lowercase uppercase
0         a         A
1         b         B
2         c         C
3         d         D
4         e         E
5         f         F
6         g         G

### Create dataframe (dictionary)

In [16]:
temp_dict = {'Apple': 1, "Banana": 2, "Cherry": 3}

In [17]:
df3 = pd.DataFrame.from_dict(temp_dict, orient='index')

In [18]:
df3

        0
Apple   1
Banana  2
Cherry  3

***

From different sources of coding challenges and CodeWar practices

Questions are rephrased

### Problem 1:

Takes in a list of restaurants location, type of cuisine, and the number of restaurants. The idea is to return an array or a list for each location with the format of:

[# of American, # of Mexican, # of Seafood]

#### Input

In [19]:
sample = [["Boston","Mexican","163"],
["Boston","Seafood","194"],
["Los Angeles","American","1239"],
["Los Angeles","Mexican","1389"],
["Los Angeles","Seafood","456"]]

#### Output

Explaination: For Boston, there's [0 American cuisine, 163 Mexican, 194 Seafood]

Then there's another list for Los Angeles

In [20]:
[[0, 163, 194], [1239, 1389, 456]]

[[0, 163, 194], [1239, 1389, 456]]

In [21]:
def pivot_table(inputTable):
    
    final = []
    
    df = pd.DataFrame(inputTable, columns=['city','type','amt'])
    df['amt'] = pd.to_numeric(df['amt'])
    
    new_df = df.pivot(index='city', columns='type', values='amt')
    new_df = new_df.fillna(0)
    new_df = new_df.astype('int64', copy=False)
    
    for row in range(new_df.shape[0]):
        array = new_df.iloc[[row]].values.tolist()
        final.extend(array)

    return final

In [22]:
pivot_table(sample)

[[0, 163, 194], [1239, 1389, 456]]

### Problem 2

In [9]:
# with open - file only stay "open" when iterating, in order to save memory
with open("../data.json") as f:    
    json_data = json.load(f)

In [13]:
json_data[2]

{'cty': 'United Kingdom',
 'hse': 'House of Wessex',
 'id': 3,
 'nm': 'Edmund',
 'yrs': '940-946'}

In [25]:
def json_parsing(businesses):
    business_count = 0
    
    business_list = []
    
    for item in businesses:
        json_string = json.loads(businesses)
        business_list.append(json_string)
    
    #aa = business_list["name"]
        
    print(business_list)

In [26]:
#json_parsing(businesses)

# Datetime

Some Datetime practices from Codewars

### Q: Find the amount of minutes till midnight

In [27]:
def minutes_to_midnight(d):
    '''returning the number of minutes until midnight'''
    
    midnight = d.replace(day = d.day + 1, hour=0, minute=0, second=0)
    time_elapse = midnight - d
    mins, secs = divmod(time_elapse.total_seconds(), 60)
    
    if secs >= 30:
        mins = mins + 1
    
    return "{} minutes".format(int(mins))

In [28]:
today = datetime.datetime.now()

#"37 minutes"
d = datetime.datetime(today.year, today.month, today.day, 23, 22, 31)
minutes_to_midnight(d) 
# "705 minutes"
d = datetime.datetime(today.year, today.month, today.day, 12, 15, 29)
minutes_to_midnight(d)

'705 minutes'

## Q: How many days till the event?

In [29]:
def count_days(d):
  
    now = datetime.datetime.now()
    now = now.replace(hour=0, minute=0, second=0)
    time_elapse = d - now
    
    diff_days = time_elapse.total_seconds()/60/60/24  
    
    if time_elapse.days < 0:
        return 'The day is in the past!'
        
    elif time_elapse.days == 0:
        return "Today is the day!"
        
    else:
         return "{} days".format(round(diff_days))

In [30]:
a = datetime.datetime(2018,1,12, 9, 42)
b = datetime.datetime(2018,12,16, 8, 0)
c = datetime.datetime(2019,1,12, 15, 6)

In [31]:
count_days(a), count_days(b), count_days(c)

('The day is in the past!',
 'The day is in the past!',
 'The day is in the past!')

## Regular expressions

In [32]:
#^	Starts with	"^hello"
#$	Ends with	"world$"	
#*	Zero or more occurrences	"aix*"	
#+	One or more occurrences	"aix+"

In [33]:
#Check if the string starts with "The" and ends with "Spain":

txt = "The rain in Spain"
x = re.search("^The.*Spain$", txt)

if (x):
  print("YES! We have a match!")
else:
  print("No match")

YES! We have a match!

# String manipulation with pandas

## Check whether a string is panlindrome or not.
A palindrome is a string which is same read forward or backwards.

In [34]:
def panlindrome(sample_string):
    
    middle = int(len(sample_string)/2)
    
    if sample_string[:middle] == sample_string[:middle:-1]:
    
        print("yes")
        
    else:
        print("no")

In [35]:
sample1 = "hello"
sample2 = "abcdefedcba"
panlindrome(sample1)
panlindrome(sample2)

no
yes

Anagram

In [36]:
def is_anagram(string1, string2):
    
    
    list_string1 = list(string1)
    list_string1 = sorted(list_string1)
    
    list_string2 = list(string2)
    list_string2 = sorted(list_string2)

    
    if list_string1 == list_string2:
        print("yes, is anagram")
        
    else:
        print("no")

In [37]:
is_anagram("stressed", "desserts")

yes, is anagram

In [38]:
dollars = pd.Series(['12', '-$10', '$10,000'])

In [39]:
# changing "-$" to "$"
# \ backslash is an escaping character
dollars.str.replace(r'-\$', '-')

0         12
1        -10
2    $10,000
dtype: object

In [40]:
dollars.str

***

# Leetcode

### 728. Self Dividing Numbers

In [79]:
def selfDividingNumbers(left: int, right: int):
    
        divisors = lambda num: '0' not in str(num) and all([num % int(x) == 0 for x in str(num)])          
        print(list(filter(divisors, range(left, right+1))))

### 961. N-Repeated Element in Size 2N Array

In [ ]:
def repeatedNTimes(self, A: List[int]) -> int:
        
        return collections.Counter(A).most_common(1)[0][0]

***

# Codewar challenges

## 1. Which are in

In [41]:
def in_array(array1, array2):
    
    final = set()
    
    for sub_string in array1:
        for string in array2:
            if sub_string in string:
                final.add(sub_string)
    
    final = sorted(final)
    
    return final

In [42]:
# add sub to list if its in any of the string in a2
def in_array2(a1, a2):
    return sorted({sub for sub in a1 if any(sub in s for s in a2)})

In [43]:
a1 = ["live", "arp", "strong"] 
a2 = ["lively", "alive", "harp", "sharp", "armstrong"]
#r = ['arp', 'live', 'strong']
#a1 = ["tarp", "mice", "bull"]
#a2 = ["lively", "alive", "harp", "sharp", "armstrong"]

## 2. Make the dead fish swim

In [ ]:
def parse(data):

    final = []
    number = 0
    
    command = list(data)
    
    for item in command:
        if item == 'i':
            number += 1
        elif item == 's':
            number = number ** 2
        elif item == 'd':
            number -= 1
        elif item == 'o':
            final.append(number)        
        else:
            pass
    return final

In [ ]:
parse("isoisoiso"), [1,4,25]

## 3. Count the smiley faces

In [ ]:
def count_smileys(arr):

    smile = 0
    
    for item in arr:
    
        item_list = list(item)
        count = 0
        
        if item_list[0] in [":", ";"]:
                count += 1
    
        if item_list[-1] in [")", "D"]:
                count += 1
            
        if len(item_list) > 2 and (count == 2):
        
            if item_list[1] in ["-","~"]:
                smile += 1
        elif len(item_list) == 2 and (count == 2):
            smile += 1
        else:
            pass
            
        
    return smile

In [ ]:
count_smileys([';D', ':-(', ';o(', ';-D', ':(', ':oD', ':D', ':D', ';(', ';D', ':D', ':D', ':o(', ':D'])

***

In [ ]:
question_template = {
    "title": "default title",
    "question": "default question",
    "answer": "default answer",
    "hints": []
}

In [ ]:
question_template

## 4. Split and then add both sides of an array together

In [74]:
def split_and_add(numbers, n):

    count = 0

    while count != n:
    
        middle = int(len(numbers)/2)

        P = numbers[:middle]
        Q = numbers[middle:]
        
        if len(P) != len(Q):
            P.insert(0,0)
            
        numbers = [x + y for x, y in zip(P, Q)]
        count += 1
        
    return numbers

In [75]:
assert split_and_add([1,2,3,4,5], 2) == [5, 10]
assert split_and_add([32,45,43,23,54,23,54,34], 2) == [183, 125]
assert split_and_add([23,345,345,345,34536,567,568,6,34536,54,7546,456], 20) == [79327]